<!DOCTYPE html>
<html lang="ro">


<head>
    <title>Cocafe-Meniu</title>
    <meta charset="UTF-8">
    <meta name="author" content="Cocafe">
    <meta name="viewport" content="width=device-width">
	<meta name="keywords" content="cafea, cafenea, Bucuresti, timp liber, bistro, gustari, ceai ">
    <meta name="description" content="Alege cafeaua ta preferata">
    <link rel="stylesheet" type="text/css" href="/stiluri/404.css">
    <link rel="stylesheet" type="text/css" href="/stiluri/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/imagini/favicon.ico"/>    

</head>
<body>
    <%- include('../fragmente/header.ejs') %>
            
    <main>
        <section>
            <div class="err">
                <h2>Upsss!</h2>
                <h4>Pagina nu a fost gasita :(</h4>
            </div>
    </section>
    </main>
</body>
</html>