#Imagini{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100vw;
    top:20vh;

    
}
#Imagini .grid{
    display: grid;
    grid-template-areas: 
    "img1 img2 img2 img3"
    "img1 img4 img5 img3"
    "img6 img6 img5 img7"
    "img8 img9 img9 img10"
    "img11 img11 img12 img12";

    max-width: 1000px;
    grid-gap:20px;
    padding: 20px;
    border: 2px solid #479877;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img1{
    grid-area:img1;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.img6{
    grid-area: img6;
}
.img7{
    grid-area: img7;
}
.img8{
    grid-area: img8;
}
.img9{
    grid-area: img9;
}
.img10{
    grid-area: img10;
}
.img11{
    grid-area: img11;
}
.img12{
    grid-area: img12;
}

.grid img{
    transition: ease-in-out 0.3s;
}

.grid img:hover{
    transform: scale(1.3);
} 

#galerie_animata_950,#galerie_animata_400{
    display: none;
}


@media screen and (max-width:950px)
{
    #Imagini,#galerie_animata_400{
        display: none;
    }
    #galerie_animata_950{
        z-index: 0;
        background-color: #479877;
        display:inline !important;
        width:400px;
        height:200px;
        border:1px solid black;
        border-radius: 40px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position:relative;
        overflow: hidden;
        margin-bottom:5rem;
    }
    
    #galerie_animata_950 div{
        position:relative;
        width:400px;
        height:200px;
    }
    #galerie_animata_950{
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
        top:50vh;
    }
    
    #galerie_an div{	
        position: absolute;
        animation-name:gal_exemplu;
        animation-timing-function:linear;
        animation-iteration-count:infinite;
        animation-duration:20s;	
        transform-origin:0px center;
    }
    #galerie_an div:nth-of-type(5){
        animation-delay:0s;
    }
    #galerie_an div:nth-of-type(4){
        animation-delay:4s;
    }
    #galerie_an div:nth-of-type(3){
        animation-delay:8s;
    }
    #galerie_an div:nth-of-type(2){
        animation-delay:12s;
    }
    #galerie_an div:nth-of-type(1){
        animation-delay:16s;
    }
    
    /*cum calculam timpii:
    - avem 7 poze; vrem pentru fiecare un timp de afisare de 2 secunde si o trecere spre urmatoarea poza de 1 secunda
    - rezulta 3 secunde pentru fiecare imagine
    - 7imagini * 3secunde =21 secunde in total pentru animatie (animation-duration) si fiecare poza cu un delay = 3* numarul de ordine
    - momentul in care trebuie ascunsa poza si pusa in spatele celorlalte (ca sa isi astepte randul pentru noua animatie:
    il calculam cu formula  timp_afisare(normal+trecerea la urmatoarea poza)/timp_total*100 = 3/21*100 =  14.28 (aproximativ)
    - calculam 100-14.28=85.72 - la acest moment imaginea trebuie sa se vada in spatele imaginii care se afiseaza in mod curent (ca sa se vada si cat timp se realizeaza efectul de schimbare a imaginii
    */
    
    @keyframes gal_exemplu{ 
        0% {z-index:10;opacity:1;} /*perioada 0-5% in care se afiseaza fara efect */
        5% {opacity:1;}
        13%{opacity:1;} /* de  aici doresc sa descresc si opacitatea;*/
        20%{z-index:10;opacity:0;}
        20.1%{z-index:-1;}/* il ascund cat mai in spate sa nu vina peste imaginile care erau mai sus in html decat el*/
        79.999999%{opacity:1;z-index:-1;}	
        80%{z-index:0;}/*setez z-index la 0 ca sa revina la ordinea normala de afisare*/
        100%{opacity:1;z-index:0;}
    }
}

@media screen and (max-width:400px)
{

    #Imagini{
        display: none;
    }
    #galerie_animata_950{
        display: none !important;
    }

    #galerie_animata_400{
        z-index: 0;
        background-color: #479877;
        display:inline !important;
        width:200px;
        height:200px;
        border:1px solid black;
        border-radius: 40px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position:relative;
        overflow: hidden;
        margin-bottom:5rem;
    }
    
    #galerie_animata_400 div{
        position:relative;
        width:200px;
        height:200px;
    }
    #galerie_animata_400{
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
        top:50vh;
    }
    
    #galerie_an_400 div{	
        position: absolute;
        animation-name:gal_exemplu_400;
        animation-timing-function:linear;
        animation-iteration-count:infinite;
        animation-duration:20s;	
        transform-origin:0px center;
    }
    #galerie_an_400 div:nth-of-type(5){
        animation-delay:0s;
    }
    #galerie_an_400 div:nth-of-type(4){
        animation-delay:4s;
    }
    #galerie_an_400 div:nth-of-type(3){
        animation-delay:8s;
    }
    #galerie_an_400 div:nth-of-type(2){
        animation-delay:12s;
    }
    #galerie_an_400 div:nth-of-type(1){
        animation-delay:16s;
    }
    


    @keyframes gal_exemplu_400{ 
        0% {z-index:10;opacity:1;} /*perioada 0-5% in care se afiseaza fara efect */
        5% {opacity:1;}
        13%{opacity:1;} /* de  aici doresc sa descresc si opacitatea;*/
        20%{z-index:10;opacity:0;}
        20.1%{z-index:-1;}/* il ascund cat mai in spate sa nu vina peste imaginile care erau mai sus in html decat el*/
        79.999999%{opacity:1;z-index:-1;}	
        80%{z-index:0;}/*setez z-index la 0 ca sa revina la ordinea normala de afisare*/
        100%{opacity:1;z-index:0;}
    }
}