.container{
    position: relative;
    margin: 0px;
    width: 100%;
    z-index:2;
    background: white;
}

nav{

    float: right;
    display: inline-block;
    position: fixed;
    width: 100vw;
    height: 70px;
    box-sizing: border-box;
    background-color:#479877 ;
    top:0;
}

nav ul{

    vertical-align: middle;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    margin-right: 15px;

}

nav li{
    
    margin-right: 40px;
    display:inline-block;
    margin-left:70px ;
    padding-top: 25px;
    position: relative;
}

nav li a, .drop{
    display: inline-block;
    color: #ddd; 
    text-decoration: none ;  
    text-transform: uppercase;
    font-size: 14px;
    float : right;
}

.submeniu
{
    display: none;
    position: absolute;
    background-color: #479877 ;
    width: 100px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;

}

.submeniu li{
    text-align: center;
    
}

.submeniu li a{
    color: #ddd; 
    text-decoration: none ;  
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
}

.drop:hover .submeniu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}


nav a::before,.drop::before{
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #ddd;
    text-align: center;
    position: absolute;
    top:0;
    width: 0%;
    transition: all ease-in-out 250ms;
}


nav a:hover::before,.drop:hover::before{
    width: 100%;
}

@media screen and (max-width:900px)
{
    nav li{
        margin-left: 30px;
    }

}

@media screen and (max-width:700px)
{

    nav{

        display: inline-block;
        position: fixed;
        width: 100vw;
        height: 40px;
        box-sizing: border-box;
        background-color:#479877 ;
        top:0;
        
    }

    nav li{
        margin-right: 15px;
        display:inline-block;
        margin-left:10px ;
        padding-top: 10px;
        position: relative;
    }
    nav li a, .drop{
        font-size: 13px;
        float: right;
        margin-right: 5px;
    }
    nav ul{
        text-align: right;
        margin-right: 15px;
    }
    .submeniu{
        padding-top: 10px;
    }
    .submeniu li a{
        font-size: 9px;
    } 
    .submeniu li{
        text-align: center;
        height: 20px;
        
    }
}

@media screen and (max-width:500px)
{
    nav{
        height: 50px;
        float: none;
    }
    nav ul{
        text-align: center;
        margin-right: 15px;
    }
    nav li{
        padding-top: 20px;
        margin-right: 10px;
    }
    nav li a,.drop{
        font-size:11px;
    }
}